# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hieu\Desktop\CG\0. Project HTML+JS+CSS\2. Modul 2\1. Introduction\1. Prac 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
